html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex; 
    flex-direction: column; 
}
.main-content {
    flex: 1; 
}
.bg-gradient {
    background: linear-gradient(45deg, #6c63ff, #7ed957);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.navbar-brand img {
    border-radius: 50%; 
}

.navbar-brand span {
    color: white;
    font-size: 18px;
    font-weight: bold;
}


.nav-link {
    color: white !important;
    font-size: 16px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.nav-link:hover {
    color: #ffdd57 !important;
    text-shadow: 0px 0px 5px rgba(255, 221, 87, 0.8);
    text-decoration: none;
}


.btn-primary {
    background-color: #ffdd57;
    border: none;
    color: #333;
    font-weight: bold;
    padding: 5px 15px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #ffe87c;
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .navbar-brand span {
        font-size: 16px;
    }
    .nav-link {
        font-size: 14px;
    }
    .btn-primary {
        font-size: 14px;
        padding: 5px 10px;
    }
}

.carousel-inner img {
    object-fit: cover; 
    width: 100%; 
    height: 700px; 
    max-height: 100vh; 
    padding: 0; 
    margin: 0; 
}
.card {
    margin-bottom: 20px;
}

.card img {
    height: 200px;
    object-fit: cover;
}


form {
    max-width: 600px;
    margin: 0 auto;
}
#formulario {
    margin-bottom: 50px; 
}
#contacto {
    width: 100%;
}
.logo-navbar {
    width: 90px;  
    height: auto;  
    margin-right: 10px; 
}
.navbar-nav .nav-link {
    color: white !important; 
}

.navbar-nav .nav-link:hover {
    color: #ffd700 !important; 
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba(255, 255, 255, 0.5);  
    border-radius: 50%;  
}

.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
    background-color: rgba(255, 255, 255, 0.9);  
}
section {
    scroll-margin-top: 80px; 
}
footer {
    background-color: #343a40; 
    color: white;
    padding: 30px 0; 
    width: 100vw;
    position: relative;
    bottom: 0;
    min-height: 200px; 
}

footer .container-fluid {
    padding: 0;
    width: 100%;  
}

footer .row {
    width: 100%;
    margin: 0; 
}

footer .col-md-3 {
    max-width: 100%;
    margin-bottom: 20px; 
}

footer .text-white {
    text-decoration: none;
    color: #ffffff;
}

footer .text-white:hover {
    color: #d4af37; 
}

footer form input {
    max-width: 200px; 
    margin: 0 auto;
}

footer form button {
    max-width: 200px; 
    margin-top: 10px;
}


footer .text-white:hover {
    color: #ffd700; 
}

@media (max-width: 768px) {
    footer .col-md-3 {
        margin-bottom: 20px;
    }
}

